/*limpar formatações padrões*/ 
* { /*asterisco significa todos*/ 
    margin: 0;
    padding: 0;  
 }

 body { 
      font-size: 16px;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      background: #f3f3f3;
}

#navegacao { 
   background: #fff;
   border-bottom: 1px solid #d8d8d8;
   height: 45px;
   position: fixed;
   width: 100%;
   top: 0;
 }

#area { /*centralizar*/
	width: 700px;
	margin: 0 auto;
}

#logo {
	float:  left;
}

#menu { /*alinhando o logo e o menu na mesma linha*/
    float: right;
    padding: 10px 5px; 
 }

 #area-principal { /*centralizar*/
	width: 700px;
	margin: 10px auto 10px auto;
}

#postagem { 
    background: #fff;
    padding: 10px;
    margin-bottom: 10px; }

h2 { 
  color: #b9c941;
   }

/*formatação dos menus*/
a { 
    text-decoration: none;
    padding: 5px; }

/*links não visitados*/ 
a:link {
	color: #838383; }

/*links visitados*/
a:visited { 
    color: #838383 }

/*links hover*/
a:hover { 
    background: #b9c941; }

/*links active*/ 
a:active { 
	color: #b9c941; }
 }

 /*classes*/
.verde {
    color: #b9c941; 
 }

 .data-postagem {
 	font-size: 14px;
 	border-bottom: 1pxsolid #f4f4f4;
 	display: block;
 	padding-bottom: 10px;
 	margin-bottom: 10px;
 }

 .img-postagem {
 	float: left;
 	margin: 0px 10px 10px 0px;
 }

 .postado {
 	border-left: 5px solid #d8d8d8;
 	padding-left: 5px;
 	display: block;
 	margin-top: 10px;
}